.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
}

.title-container .text-type {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .title-container .text-type {
    font-size: 2.5rem;
  }
}
