.navbar-container {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--primary-text-color);
  font-size: 2rem;
  cursor: pointer;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 0;
  align-items: center;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  font-size: 16px;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
.navbar-item a:hover {
  background-color: rgba(154, 154, 154, 0.3);
  border-radius: 5px;
}

.navbar-item .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: inherit;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-item.dropdown:hover {
  background-color: rgba(154, 154, 154, 0.3);
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  background: transparent;
  list-style: none;
  z-index: 100;
  min-width: auto;
}

.navbar-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-item {
  width: 100%;
}

.dropdown-item a {
  font-size: 16px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.dropdown-item a:hover {
  background-color: rgba(154, 154, 154, 0.5);
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
  }

  [data-theme="dark"] .navbar-menu.open {
    background: rgba(38, 38, 38);
  }

  [data-theme="light"] .navbar-menu.open {
    background: rgba(255, 255, 255);
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
  }

  .navbar-item a,
  .navbar-item .dropbtn {
    width: 100%;
    padding: 1rem;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
  }

  [data-theme="dark"] .dropdown-menu {
    background: rgba(109, 108, 108);
  }

  [data-theme="light"] .dropdown-menu {
    background: rgba(184, 182, 182);
  }

  .navbar-item.dropdown .dropdown-menu.open {
    opacity: 1;
    max-height: 300px;
  }
}

@media (min-width: 769px) {
  .navbar-menu {
    display: flex;
  }
}
