.navbar-toggle{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.toggle {
    visibility: hidden;
}

.toggle + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);

}

.toggle + label::before {
    content: '';
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: var(--toggle-bg);
    margin-right: 0.5em;
}

.toggle + label::after{
    content: '';
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background-color: var(--toggle-fg);
    position: absolute;
    left: 0.2em;
}

.toggle:checked + label::before {
    transform: translateX(100%);
}