* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --background-color: #f6f6f6;
    --foreground-color: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #373535;
    --element-bg: #d5d1d1;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
}

[data-theme="dark"] {
    --background-color: #1a1a1a;
    --foreground-color: #738feb;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #cccccc;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
    --element-bg: #4f4d4d;
}